RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbit_app
RABBITMQ_PASSWORD=
RABBITMQ_QUEUE=oracle.orders

ORACLE_USER=rabbit_app
ORACLE_PASSWORD=
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE=ORCLPDB1.localdomain
